<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="config" />
          <add segment="scripts" />
          <add segment="src" />
          <add segment="storage" />
          <add segment="vendor" />
          <add segment=".git" />
        </hiddenSegments>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".log" allowed="false" />
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".md" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
